<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="fragmenten/head"/>
    <body>
        <div class="row" th:replace="fragmenten/header"/>
        <div class="row">
            <div class="container">
                <div class="jumbotron">
                    <div th:replace="fragmenten/backButton"/>
                    <p>Boekenlijst</p>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Titel</th>
                            <th>Auteur</th>
                            <th>Editie</th>
                            <th colspan="1"/>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="i : ${boeken}">
                                <td th:text="${i.ISBN}"/>
                                <td th:text="${i.titel}"/>
                                <td th:text="${i.auteur}"/>
                                <td th:text="${i.editie}"/>
                                <td><a th:href="@{/boeken/ed?ISBN=}+${i.ISBN}"><button class="btn btn-warning" style="margin-bottom:0.5em">Wijzigen</button></a></td>
                                <td class="center">
                                    <div th:unless="${boekExemplaren.contains(i.ISBN) || boekExemplaren.contains(i.ISBN)}">
                                        <a th:href="@{/boeken/del?ISBN=}+${i.ISBN}"><button class="btn btn-danger">Verwijderen</button></a>
                                    </div>
                                    <div th:if="${boekExemplaren.contains(i.ISBN) || boekExemplaren.contains(i.ISBN)}">
                                        <button class="btn" disabled="disabled" title="Dit boek heeft nog exemplaren, verwijder deze exemplaren eerst">Verwijderen</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="fragmenten/backButton"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="jumbotron">
                    <form action="/boeken/add" method="get">
                        <fieldset>
                            <legend>Voeg een nieuw boek toe:</legend>
                            <div class="form-group">
                                <label for="ISBN">ISBN:</label>
                                <input id="ISBN" name="ISBN" class="form-control" type="number" placeholder="ISBN" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="titel">Titel:</label>
                                <input id="titel" name="titel" class="form-control" placeholder="Titel" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="auteur">Auteur:</label>
                                <input id="auteur" name="auteur" class="form-control" placeholder="Auteur" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="editie">Editie:</label>
                                <input id="editie" name="editie" class="form-control" type="number" placeholder="Editie" required="true"/>
                            </div>
                        </fieldset>
                        <input type="submit" class="form-control btn btn-success" value="Toevoegen"/>
                    </form>
                    <br/>
                    <div th:replace="fragmenten/backButton"/>
                </div>
            </div>
        </div>
        <div th:replace="fragmenten/scripts"/>
    </body>
</html>